# PyTorch
--index-url https://download.pytorch.org/whl/cu130
torch
torchvision


accelerate

# Discord Webhook Manager
discord.py
"discord.py[voice]"

# Music Download
yt-dlp

# PyNaCl
PyNaCl

# Env
dotenv

# Groq
groq

# Transformers
transformers

# Audio
librosa